body{
    min-width: 300px;
}


/* @media (max-width:992px){
    .container{
        max-width: 750px;
    }
}
@media (max-width:767px){
    .container{
        max-width: none;
    }
} */

.menu_button {
    position: absolute;
    left: 1.67%;
    right: 97.29%;
    top: 2.83%;
    bottom: 95.75%;
}

.youtube_logo {
    position: absolute;
    left: 4.17%;
    right: 89.79%;
    top: 2.5%;
    bottom: 95.42%;
}

.search_field {
    /* background-color: #EBEBEB; */
    position: absolute;
    border: 0px;
    left: 13.28%;
    right: 43.49%;
    top: 1.67%;
    bottom: 94.67%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 1.5%;
    background: #EBEBEB url('../img/Search_icon.png') no-repeat 96% center;
}

input[type=text]:focus {
    outline: none;
    border: 0px solid #fbfcfb;
}

.icons_top {
    position: absolute;
    left: 82.81%;
    right: 8.07%;
    top: 2.5%;
    bottom: 95.42%;
}

/* .camera_icon {
    position: absolute;
    left: 82.81%;
    right: 15.78%;
    top: 2.67%;
    bottom: 95.67%;
}

.services_icon {
    position: absolute;
    left: 86.82%;
    right: 12.08%;
    top: 2.67%;
    bottom: 95.58%;

    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.24;
}

.notifications_icon {
    position: absolute;
    left: 90.52%;
    right: 8.33%;
    top: 2.42%;
    bottom: 95.42%;
} */

/* .icon {
    margin-right: 8%;
} */

.icons_top a:not(:last-child) {
    margin-right: 20%;
}

.notifications_icon {
    margin-top: 1px;
}

.mobile_search_icon{
    display: none;
}

.userpic {
    position: absolute;
    /* left: 96.27%; */
    right: 5.65%;
    top: 1.83%;
    bottom: 94.83%;
}





@media only screen and (max-width:1290px) {
    .userpic {
        position: absolute;
        left: 85.62%;
        right: 5%;
        top: 1.83%;
        bottom: 96.09%;
    }

    .mobile_search_icon {
        display: block;
        position: absolute;
        left: 72.19%;
        right: 22.12%;
        top: 3.2%;
        bottom: 96.76%;
    }

    .search_field, .menu_button, .icons_top {
        display: none;
    }
}


.active_tab {
color: #FF0000;
}


.home_tab_pic {
    position: absolute;
    display: inline-block;
    left: 1.67%;
    right: 97.29%;
    top: 9.5%;
    bottom: 88.92%;
}

.tab_name {
    position: absolute;
    display: inline-block;
    height: 20px;
    left: calc(1.67% + 34px);
    /* adjust the 60px value to the width of your image */
    top: calc(50% - 8px);
    /* adjust the 10px value to half the height of your text */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 131%;
    color: #898989;
}

.home_tab {
    position: absolute;
    left: 1.67%;
    right: 94.27%;
    top: 9.5%;
    bottom: 88.83%;
}

.sidebar {
    position: absolute;
    left: 1.61%;
    right: 91.41%;
    top: 9.5%;
    bottom: 90.5%;
}

.trending_tab_pic {
    position: absolute;
    left: 1.77%;
    right: 97.4%;
    top: 13.5%;
    bottom: 84.75%;
}

.trending_tab_name {
    top: calc(50% - 10px);
}

.trending_tab {
    position: absolute;
    left: 1.77%;
    right: 93.23%;
    top: 13.5%;
    bottom: 84.75%;
    margin-top: 23%;
}

.subscription_tab {
    margin-top: 46%;
    position: absolute;
    left: 1.77%;
    right: 93.23%;
    top: 13.5%;
    bottom: 84.75%;
}

.subscription_tab_name {
    top: calc(50% - 11px);
}

.library_tab {
    margin-top: 80%;
}

.library_tab_name {
    top: calc(50% - 12px);
}

.tab {
    position: absolute;
    left: 1.77%; 
    right: 93.23%;
    top: 13.5%;
    bottom: 84.75%;
}

.history_tab {
    margin-top: 103%;
}

.history_tab_name {
    top: calc(50% - 11px);
}

.watch_later_tab {
    margin-top: 125%;
}

.watch_later_tab_name {
    width: 976%;
    top: calc(50% - 11px);
}

.favourite_tab {
    margin-top: 148%; 
}

.favourite_tab_name {
    top: calc(50% - 11px);
}

.liked_tab {
    margin-top: 171%; 
}

.liked_tab_name {
    width: 1150%;
    top: calc(50% - 11px);
}

.music_tab {
    margin-top: 194%; 
}

.music_tab_name {
    top: calc(50% - 11px);
}

.games_tab {
    margin-top: 217%; 
}

.games_tab_name {
    top: calc(50% - 11px);
}

.show_more_tab {
    margin-top: 240%; 
}

.show_more_tab_name {
    width: 1150%;
    top: calc(50% - 11px);   
}

.subscriptions_div {
    position: absolute;
    left: 1.56%;
    right: 90.16%;
    top: 59.33%;
    bottom: 13.67%;
    margin-top: 188%;
}

ul {
    list-style-type: none;
}

.users {
    margin-top: 1340%;
}

.subscriptions_title {
    position: absolute;
    height: 23px;
    left: 1.56%;
    right: 92.34%;
    top: calc(50% - 23px/2 + 123.5px);

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;



    color: #000000;
}

.subscription_link {
    position: absolute;
    left: 1.56%;
    right: 90.16%;
    top: 63.75%;
    bottom: 34.08%;
    width: 88%;
}

.subscription_img {
    position: absolute;
    left: 1.56%;
    right: 97.08%;
    top: 63.75%;
    bottom: 34.08%;
}

.subscription_account_title {
    width: 1150%;
    top: calc(50% - 11px);   
}

.subscription_first {
    margin-top: 1410%;
}

.subscription_second {
    margin-top: 1750%;
}

.subscription_third {
    margin-top: 2090%;
}

.subscription_fourth {
    margin-top: 2430%;
}

.subscription_fifth {
    margin-top: 2770%;
}

.subscription_sixth {
    margin-top: 3110%;
}

.setting_div {
    position: absolute;
    left: 1.77%;
    right: 93.85%;
    top: 95%;
    bottom: 3.33%;
    margin-top: 590%;
}

.setting_link {
    
}



/* .channel_recomendation {
    position: absolute;
    left: 13.28%;
    right: -1.82%;
    top: 9.5%;
    bottom: 67.17%;
}

.channel_author_preview {
    position: absolute;
    left: 13.28%;
    right: 76.04%;
    top: 9.5%;
    bottom: 86.33%;
}

.channel_pic {
    position: absolute;
    left: 13.28%;
    right: 84.11%;
    top: 9.5%;
    bottom: 86.33%;
}

.channge_author_name {
    position: absolute;
    height: 33px;
    left: 16.93%;
    right: 76.04%;
    top: calc(50% - 33px/2 - 460.5px);

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    /* identical to box height */


    color: #19202C;
} */